/* Ensure the html and body elements take up the full height and width of the viewport */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; /* Ensures that the root element takes up the full viewport height */
}
